


  







  @media(max-width:1400px) {
    .content {
      margin-left: -10px;
    }

    .content__right-man {
      max-width: 400px;
      margin-left: -110px;
    }

    .content__line {
      max-width: 900px;
      right: -95px;
    }

    .content__right-man-item::after {
      left: -70px;
    }
  }


  @media (max-width:1240px) {
    .content h1 {
      font-size: 60px;
      margin-bottom: 15px;
    }

    .content h1 span {
      font-size: 60px;
    }

    .content p {
      font-size: 20px;
      max-width: 350px;
    }

    .content a button {
      width: 160px;
      height: 50px;
      font-size: 16px;
      font-weight: 700;
      margin-top: 20px;
    }

    .content__right-img {
      display: none;
    }

    .content__right-man {
      max-width: 400px;
      margin-left: -110px;
    }

    .content__line {
      max-width: 700px;
      right: -115px;
    }

    .content__right-man-item::after {
      left: -90px;
    }

    .navbar__link {
      font-size: 16px;
    }

    .navbar__container {
      gap: 20px;
    }

    .action__right {
      display: none;
    }

    .action__bcg {
      height: 500px;
    }

    .action__content {
      margin-top: 0px;
    }

    .action__wrapper {
      margin-top: -60px;
      display: flex;
      align-items: center;
      justify-content: center;
      /* height: 400px; */
      /* padding-top: 90px; */
    }

    .black::after {
      top: 70px;
      position: relative;
      right: 20px;
    }
  }

  @media (max-width:870px) {
    .content__right-man {
      display: none;
    }

    .content__line {
      display: none;
    }

    .content__right-man-item::after {
      display: none;
    }

    .content h1 {
      font-size: 82px;
      font-weight: 800;
      margin-bottom: 36px;
    }

    .content h1 span {
      font-size: 82px;
      font-weight: 800;
    }

    .content p {
      font-size: 24px;
      max-width: 500px;
    }

    .content a button {
      width: 200px;
      height: 60px;
      font-size: 20px;
      font-weight: 800;
      margin-top: 46px;
    }
  }